module.exports = {
  session: 'express session key'
, stats_secret: 'stats session key' // I don't think this is used anymore
, steamapi: 'steam api key'
, airbrake_key: process.env.AIRBRAKE_KEY || ''
, aws_access_key_id: process.env.AWS_ACCESS_KEY_ID || ''
, aws_secret_access_key: process.env.AWS_SECRET_ACCESS_KEY || ''
};
