.hero-unit
  p
    | SizzlingStats is under heavy development by 
    a(href="http://steamcommunity.com/id/sizzlingcalamari") SizzlingCalamari
    | , who created the TF2 server plugin, and 
    a(href="http://steamcommunity.com/id/technosex") techno
    | , who created the web application.