h2 Download
.panel
  p
    | SizzlingStats is no longer being developed. We have no plans to discontinue the service. Please read the notes in this thread:
  a(href='http://teamfortress.tv/forum/thread/5980') Download links here.
//- p
//-   a.button(href="javascript:") Download (coming soon)
//- hr
//- h4 Installation
//- p
//-   | Extract the contents of the zip file to the 
//-   kbd tf
//-   |  folder, then restart the server.
//-   br
//-   | Type 
//-   kbd rcon sizz_stats_version
//-   |  in console to see if the plugin is loaded.
//-   br
//-   br
//-   | Metamod and Sourcemod are 
//-   strong not
//-   |  required.
//- hr
//- h4 FAQ
//- blockquote Can I use the SizzlingStats plugin along with other stats plugins?
//- p
//-   | Yes, SizzlingStats is very lightweight and should not conflict with
//-   | any other server plugins.
//- hr
//- h4 Disclaimer
//- small
//-   | THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
//-   | EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES
//-   | OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT.
//-   | IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM,
//-   | DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
//-   | OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR
//-   | THE USE OR OTHER DEALINGS IN THE SOFTWARE.