h2 FAQ
.panel
  dl
    dt
      | What is the difference between "Real Damage" (RD &amp; RDPM) and
      | "Total Damage" (TD &amp; TDPM)?
    dd
      | Total damage includes damage that exceeded the enemy player's health,
      | aka "overkill" damage. For example, if you frag an enemy with 20
      | health, but your shot's damage amount was 100, the damage dealt was
      | 20, but total damage was 100. However, real damage does not include
      | this overkill amount.
