h2 FAQ
.panel
  dl
    dt
      | What is the difference between "Damage" (DMG &amp; DPM) and
      | "Overkill Damage" (ODMG &amp; ODPM)?
    dd
      | Overkill Damage includes damage that exceeded the enemy player's
      | health. For example, if you frag an enemy with 20 health, but your
      | shot's damage amount was 100, the damage dealt is 20, but overkill
      | damage is 100. However, the normal damage number does not include this
      | overkill amount.
