h2.no-marg-bottom SizzlingStats Alpha
h5.subheader.no-marg-top Real-time TF2 stats.
.row
  .ten.columns
    .panel
      p
        | SizzlingStats is under heavy development by&#32;
        a(href="http://steamcommunity.com/id/dy-dx") dy/dx
        | , who created the web application, and&#32;
        a(href="http://steamcommunity.com/id/sizzlingcalamari") SizzlingCalamari
        | , who created the TF2 server plugin.