.five.columns
  h2 {{player.name}}
  .panel.center
    img(ng-src='{{player.avatarFull}}')
    span.align-left(style='margin:0 auto;display:inline-block;line-height:1.5') {{player._id}}
      br
      a(href='http://steamcommunity.com/profiles/{{player.numericid}}') Steam Profile
      br
      | Country: {{player.country}}
      br
      | Updated: {{player.updated | date:'M/d/yy h:mma' | lowercase}}
.seven.columns
  h3 Matches Played
  ul.tabs.vertical.sidebar-nav
    li(ng-cloak, ng-repeat='match in matches')
      a(href='/stats/{{match._id}}')
        | {{match.hostname}}
        br
        img.flag.size-16(ng-show="match.redCountry", ng-src="/img/flags/16/{{match.redCountry}}.png")
        | {{match.redname}} vs 
        img.flag.size-16(ng-show="match.bluCountry", ng-src="/img/flags/16/{{match.bluCountry}}.png")
        | {{match.bluname}}
        br
        | {{match.created | date:'M/d/yy h:mma' | lowercase}}
  .pagination-centered
    ul.pagination
      li.arrow(ng-class="{'unavailable': pageNumCurrent==1}")
        a(href="javascript:", ng-click='clickPageLeft()') &laquo;
      li(ng-cloak, ng-repeat='page in pages', ng-class="{'current': page.isCurrent()}")
        a(href="javascript:", ng-click='clickPageNumber($index)') {{page.num}}
      //- li.unavailable: a(href="javascript:") &hellip;
      li.arrow(ng-class="{'unavailable': pageNumCurrent==pageNumLast}")
        a(href="javascript:", ng-click='clickPageRight()') &raquo;
    p {{count}} matches played.
