h2 My Profile
.row
  .five.columns
    .panel.center
      img(ng-src='{{player.avatar.slice(0, -4) + "_full.jpg"}}')
      br
      span.align-left(style='margin:0 auto;display:inline-block;line-height:1.5')
        | {{player._id}}
        br
        a(href='http://steamcommunity.com/profiles/{{player.numericid}}')
          | Steam Profile
  .seven.columns
    h3 My API Key
    p {{player.apikey}}
    a.button(href='javascript:', ng-click='generateKey()') Generate new key

//- .row
//-   .five.columns
//-     pre(ng-model='player') {{player | json}}
