h2 {{player.name}}
.panel
  img(ng-src='{{player.avatarFull}}')
  p Steam ID: {{player._id}}
  p 64-bit Steam ID: {{player.numericid}}
  p Country: {{player.country}}
  p Updated: {{player.updated | date:'M/d/yy h:mma' | lowercase}}
h3 Recent Matches
.six.columns
  ul.tabs.vertical.sidebar-nav
    li(ng-cloak, ng-repeat='match in matches')
      a(href='/stats?id={{match._id}}')
        | {{match.hostname}}
        br
        img.flag(ng-show="match.redCountry", ng-src="/img/flags/16/{{match.redCountry}}.png")
        | {{match.redname}} vs 
        img.flag(ng-show="match.bluCountry", ng-src="/img/flags/16/{{match.bluCountry}}.png")
        | {{match.bluname}}
        br
        | {{match.created | date:'M/d/yy h:mma' | lowercase}}
  .pagination-centered
    ul.pagination
      li.arrow.unavailable: a(href="javascript:") &laquo;
      li.current: a(href="javascript:") 1
      li: a(href="javascript:") 2
      li: a(href="javascript:") 3
      li.unavailable: a(href="javascript:") &hellip;
      li: a(href="javascript:") 11
      li: a(href="javascript:") 12
      li: a(href="javascript:") 13
      li.arrow: a(href="javascript:") &raquo
    p {{count}} matches found.
