h2 My Settings
.row
  .medium-5.columns.playerprofile
    .panel.text-center
      img(ng-src='{{player.avatar.slice(0, -4) + "_full.jpg"}}')
      .playerprofile-details
        | {{player._id}}
        br
        a(href='http://steamcommunity.com/profiles/{{player.numericid}}')
          | Steam Profile
  .medium-7.columns
    h3 My API Key
    p {{player.apikey}}
    a.button(href='javascript:', ng-click='generateKey()') Generate new key
