.stats
  .center
    h3.no-marg
      img.flag.size-32(ng-show="stats.redCountry", ng-src="/img/flags/32/{{stats.redCountry}}.png")
      span.redname {{stats.redname}}
      |  {{scoreComparison}} 
      img.flag.size-32(ng-show="stats.bluCountry", ng-src="/img/flags/32/{{stats.bluCountry}}.png")
      span.bluname {{stats.bluname}}
      |  {{redScore}} - {{bluScore}}
    .stats-description {{stats.created | date:'M/d/yy h:mma' | lowercase}} // {{secondsToHMS(playableTime)}} // {{stats.map}} 
      span.label(ng-show='stats.isLive') Live
    //- .asdf {{stats.hostname}}
    //- .servername Server: {{stats.hostname}}
    //- .mapname Map: {{stats.map}}
    //- .date Date: {{stats.created | date:'medium'}}
    //- .match-duration(ng-show='stats.matchDuration') Match Duration: {{secondsToHMS(stats.matchDuration)}}
    //- .playable-time Playable Time: {{secondsToHMS(playableTime)}}
    table.score-table
      thead
        tr
          th
          th.score-table-round-header(ng-repeat='n in stats.redscore', ng-click='clickRoundHeader($index)', ng-class='{"deselected-round":selectedRounds.indexOf($index)==-1}')
            acronym R{{$index + 1}}
          th(title='Total Score', class='has-tip tip-top'): abbr T
          th(title='Total Damage', class='has-tip tip-top'): abbr DMG
          th(title='Total Frags', class='has-tip tip-top'): abbr F
          th(title='Midfights Won', class='has-tip tip-top'): abbr MF
      tbody
        tr(ng-bind-html-unsafe='redtr')
        tr(ng-bind-html-unsafe='blutr')
  .overall-stats
    table.overall-stats-table.stats-table
      thead
        tr
          th(ng-class="sortClass('name','overall')", ng-click="sortBy('name','overall')"): acronym Name
          th(ng-class="sortClass('mostPlayedClass','overall')", ng-click="sortBy('mostPlayedClass','overall')", class="has-tip tip-top", title='Most Played Class'): abbr C
          th(ng-class="sortClass('stats[0]','overall')", ng-click="sortBy('stats[0]','overall')", class="has-tip tip-top", title='Points'): abbr P
          th(ng-class="sortClass('stats[1]','overall')", ng-click="sortBy('stats[1]','overall')", class="has-tip tip-top", title='Frags+Assists Per Death'): abbr FA/D
          th(ng-class="sortClass('stats[2]','overall')", ng-click="sortBy('stats[2]','overall')", class="has-tip tip-top", title='Frags'): abbr F
          th(ng-class="sortClass('stats[3]','overall')", ng-click="sortBy('stats[3]','overall')", class="has-tip tip-top", title='Assists'): abbr A
          th(ng-class="sortClass('stats[4]','overall')", ng-click="sortBy('stats[4]','overall')", class="has-tip tip-top", title='Deaths'): abbr D
          th(ng-class="sortClass('stats[5]','overall')", ng-click="sortBy('stats[5]','overall')", class="has-tip tip-top", title='Suicides'): abbr S
          th(ng-class="sortClass('stats[6]','overall')", ng-click="sortBy('stats[6]','overall')", class="has-tip tip-top", title='Damage Per Minute'): abbr DPM
          th(ng-class="sortClass('stats[7]','overall')", ng-click="sortBy('stats[7]','overall')", class="has-tip tip-top", title='Damage'): abbr DMG
          th(ng-class="sortClass('stats[8]','overall')", ng-click="sortBy('stats[8]','overall')", class="has-tip tip-top", title='Medic Picks'): abbr MP
          th(ng-class="sortClass('stats[9]','overall')", ng-click="sortBy('stats[9]','overall')", class="has-tip tip-top", title='Heals Received'): abbr HR
          th(ng-class="sortClass('stats[10]','overall')", ng-click="sortBy('stats[10]','overall')", class="has-tip tip-top", title='Capture Points Captured'): abbr CPC
          th(ng-class="sortClass('stats[11]','overall')", ng-click="sortBy('stats[11]','overall')", class="has-tip tip-top", title='Capture Points Blocked'): abbr CPB
          th(ng-class="sortClass('stats[12]','overall')", ng-click="sortBy('stats[12]','overall')", class="has-tip tip-top", title='Dominations'): abbr DOM
          th(ng-class="sortClass('stats[13]','overall')", ng-click="sortBy('stats[13]','overall')", class="has-tip tip-top", title='Revenges'): abbr REV
          th(ng-class="sortClass('stats[14]','overall')", ng-click="sortBy('stats[14]','overall')", class="has-tip tip-top", title='Headshots'): abbr HS
          th(ng-class="sortClass('stats[15]','overall')", ng-click="sortBy('stats[15]','overall')", class="has-tip tip-top", title='Backstabs'): abbr BS
          //- th(ng-class="sortClass('stats[13]')", ng-click='sortBy("stats[13]")', class="has-tip tip-top", title='BuildingsBuilt'): abbr BB
          //- th(ng-class="sortClass('stats[14]')", ng-click='sortBy("stats[14]")', class="has-tip tip-top", title='BuildingsDestroyed'): abbr BD
          //- th(ng-class="sortClass('stats[15]')", ng-click='sortBy("stats[15]")', class="has-tip tip-top", title='Crits'): abbr C
          //- th(ng-class="sortClass('stats[20]')", ng-click='sortBy("stats[20]")', class="has-tip tip-top", title='Teleports'): abbr T
          //- th(ng-class="sortClass('stats[16]')", ng-click='sortBy("stats[21]")', class="has-tip tip-top", title='Resupply Points'): abbr RP
          //- th(ng-class="sortClass('stats[17]')", ng-click='sortBy("stats[22]")', class="has-tip tip-top", title='Bonus Points'): abbr BP
      tbody
        tr(ng-repeat='player in stats.players | orderBy:[separateTeamsPredicate(),overallSort]:overallReverse ', ng-bind-html-unsafe='player.tr')
    dl.sub-nav.no-marg
      dd(ng-class='{active:!separateTeams}')
        a(href="javascript:", ng-click="separateTeams=false") All
      dd(ng-class='{active:separateTeams}')
        a(href="javascript:", ng-click="separateTeams=true") Teams
  .class-stats
    table.stats-table
      thead
        tr
          th(ng-class="sortClass('name','medic')", ng-click="sortBy('name','medic')"): acronym Medics
          th(ng-class="sortClass('stats[0]','medic')", ng-click="sortBy('stats[0]','medic')", class="has-tip tip-top", title='Heals Given'): abbr H
          th(ng-class="sortClass('stats[1]','medic')", ng-click="sortBy('stats[1]','medic')", class="has-tip tip-top", title='Ubers'): abbr U
          th(ng-class="sortClass('stats[2]','medic')", ng-click="sortBy('stats[2]','medic')", class="has-tip tip-top", title='Ubers Dropped'): abbr UD
      tbody
        tr(ng-repeat='player in stats.players | filter:medicFilter | orderBy:medicSort:medicReverse', ng-bind-html-unsafe='player.medictr')
  .chat-log
    ul
      li(ng-repeat='chat in stats.chats | filter:bindFilter')
        span.chat-time {{secondsToHMS(chat.time)}}&nbsp;
        span.chat-name(ng-class='{true:"team-message"}[chat.isTeam]', class='team{{playerMetaData[chat.steamid].team}}')
          b {{playerMetaData[chat.steamid].name || "spectator"}}
        span.chat-message : {{chat.message}}
    dl.sub-nav.no-marg
      dd(ng-class='{active:!filterBinds}')
        a(href="javascript:", ng-click="filterBinds=false") All
      dd(ng-class='{active:filterBinds}')
        a(href="javascript:", ng-click="filterBinds=true") No Binds
