#stats
  #stats-overview
    h2
      span.redname {{stats.redname}}
      |  {{scoreComparison}} 
      span.bluname {{stats.bluname}}
      |  {{redScore}} - {{bluScore}}
    .servername Server: {{stats.hostname}}
    .mapname Map: {{stats.map}}
    .date Date: {{stats.created | date:'medium'}}
    table#score-table.table-bordered
      thead
        tr
          th
          th(ng-repeat='n in stats.redscore') R{{$index + 1}}
          th: abbr(title='Total Score') T
          th: abbr(title='Total Damage') DMG
          th: abbr(title='Total Frags') F
      tbody
        tr
          td.red {{stats.redname}}
          td(ng-repeat='score in redRoundScores') {{score}}
          td {{redScore}}
          td {{totalDamage[2]}}
          td {{totalFrags[2]}}
        tr
          td.blu {{stats.bluname}}
          td(ng-repeat='score in bluRoundScores') {{score}}
          td {{bluScore}}
          td {{totalDamage[3]}}
          td {{totalFrags[3]}}
  table#stats-table.table.table-striped.table-condensed
    thead
      tr
        th(ng-class="sortClass('name')", ng-click='sort="name"; reverse=!reverse') Name
        th(ng-class="sortClass('sumPoints')", ng-click='sort="sumPoints"; reverse=!reverse'): abbr(title='Points') P
        th(ng-class="sortClass('sumKills')", ng-click='sort="sumKills"; reverse=!reverse'): abbr(title='Frags') F
        th(ng-class="sortClass('sumAssists')", ng-click='sort="sumAssists"; reverse=!reverse'): abbr(title='Assists') A
        th(ng-class="sortClass('sumDeaths')", ng-click='sort="sumDeaths"; reverse=!reverse'): abbr(title='Deaths') D
        th(ng-class="sortClass('sumDamage')", ng-click='sort="sumDamage"; reverse=!reverse'): abbr(title='Damage') DMG
        th(ng-class="sortClass('sumMedPicks')", ng-click='sort="sumMedPicks"; reverse=!reverse'): abbr(title='Medic Picks') MP
        th(ng-class="sortClass('sumCaptures')", ng-click='sort="sumCaptures"; reverse=!reverse'): abbr(title='Capture Points Captured') CPC
        th(ng-class="sortClass('sumDefenses')", ng-click='sort="sumDefenses"; reverse=!reverse'): abbr(title='Capture Points Blocked') CPB
        th(ng-class="sortClass('sumSuicides')", ng-click='sort="sumSuicides"; reverse=!reverse'): abbr(title='Suicides') S
        th(ng-class="sortClass('sumDominations')", ng-click='sort="sumDominations"; reverse=!reverse'): abbr(title='Dominations') DOM
        th(ng-class="sortClass('sumRevenges')", ng-click='sort="sumRevenges"; reverse=!reverse'): abbr(title='Revenges') REV
        th(ng-class="sortClass('sumBuildingsBuilt')", ng-click='sort="sumBuildingsBuilt"; reverse=!reverse'): abbr(title='BuildingsBuilt') BB
        th(ng-class="sortClass('sumBuildingsDestroyed')", ng-click='sort="sumBuildingsDestroyed"; reverse=!reverse'): abbr(title='BuildingsDestroyed') BD
        th(ng-class="sortClass('sumHeadshots')", ng-click='sort="sumHeadshots"; reverse=!reverse'): abbr(title='Headshots') HS
        th(ng-class="sortClass('sumBackstabs')", ng-click='sort="sumBackstabs"; reverse=!reverse'): abbr(title='Backstabs') BS
        th(ng-class="sortClass('sumHeals')", ng-click='sort="sumHeals"; reverse=!reverse'): abbr(title='Crits') C
        th(ng-class="sortClass('sumUbers')", ng-click='sort="sumUbers"; reverse=!reverse'): abbr(title='Resupply Points') RP
        th(ng-class="sortClass('sumTeleports')", ng-click='sort="sumTeleports"; reverse=!reverse'): abbr(title='Bonus Points') BP
        th(ng-class="sortClass('sumCrits')", ng-click='sort="sumCrits"; reverse=!reverse'): abbr(title='Heals Received') HR
        th(ng-class="sortClass('sumResupplyPoints')", ng-click='sort="sumResupplyPoints"; reverse=!reverse'): abbr(title='Heals Given') H
        th(ng-class="sortClass('sumBonusPoints')", ng-click='sort="sumBonusPoints"; reverse=!reverse'): abbr(title='Ubers') U
        th(ng-class="sortClass('sumHealsReceived')", ng-click='sort="sumHealsReceived"; reverse=!reverse'): abbr(title='Ubers Dropped') UD
        th(ng-class="sortClass('sumUbersDropped')", ng-click='sort="sumUbersDropped"; reverse=!reverse'): abbr(title='Teleports') T

    tbody
      tr(ng-repeat='player in stats.players | orderBy:sort:reverse', class='team{{player.team}}')
        td.name
          img(ng-src='{{playerMetaData[player.steamid].avatar}}')
          span {{player.name}}
        td {{player.sumPoints}}
        td {{player.sumKills}}
        td {{player.sumAssists}}
        td {{player.sumDeaths}}
        td {{player.sumDamage}}
        td {{player.sumMedPicks}}
        td {{player.sumCaptures}}
        td {{player.sumDefenses}}
        td {{player.sumSuicides}}
        td {{player.sumDominations}}
        td {{player.sumRevenges}}
        td {{player.sumBuildingsBuilt}}
        td {{player.sumBuildingsDestroyed}}
        td {{player.sumHeadshots}}
        td {{player.sumBackstabs}}
        td {{player.sumCrits}}
        td {{player.sumResupplyPoints}}
        td {{player.sumBonusPoints}}
        td {{player.sumHealsReceived}}
        td {{player.sumHeals}}
        td {{player.sumUbers}}
        td {{player.sumUbersDropped}}
        td {{player.sumTeleports}}