h2.no-marg-bottom Usage Stats
h5.subheader.no-marg-top Last updated: {{updated | date:'M/d/yy h:mma' | lowercase}}
.row
  .seven.columns
    .panel
      h4 Matches Recorded: {{matchCount}}
      h4 Players in Database: {{playerCount}}
h3 Visitors since 2013-04-15
#map-canvas-users(style="width:670px; height: 360px;")
h3 TF2 Servers since 2013-04-15
#map-canvas-tf2servers(style="width:670px; height: 360px;")
