extends layout

block body
  //- Navbar, maybe should go in layout.jade?
  .navbar.navbar-fixed-top
    .navbar-inner
      .container-fluid
        a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.brand(href='#') SizzlingStats
        //- WE CAN PUT IN SEARCH LATER.
        .nav-collapse
          ul.nav
            li.home
              a(href='/') Home
            li.about
              a(href='/about') About
  //- Main Content
  .container-fluid
    .row-fluid
      .span3
        //- listmatches
        .well.sidebar-nav(ng-controller='SideBarCtrl')
          ul.nav.nav-list
            li.nav-header Recent Matches
            li(ng-repeat='match in matches')
              a(href='/match/{{match.matchid}}') {{match.hostname}}: {{match.redname}} vs {{match.bluname}}
      .span9(ng-view)
        //- content
    hr
    footer
      p &copy; 2012 Chris "techno" Kim &amp; Jordan "SizzlingCalamari" Cristiano

  script(src='js/lib/jquery/jquery-1.8.2.min.js')
  script(src='js/lib/angular/angular.js')
  //- script(src='/socket.io/socket.io.js')
  script(src='js/lib/bootstrap/bootstrap.min.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
