extends layout

block body
  if (typeof(query.ingame) == 'undefined')
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='/') SizzlingStats
          //- WE CAN PUT IN SEARCH LATER.
          .nav-collapse
            ul.nav
              li(class='home', ng-class='{active:path()=="/"}')
                a(href='/') Home
              li(class='about', ng-class='{active:path()=="/about"}')
                a(href='/about') About
          if (loggedIn)
            .btn-group.pull-right.navbar-right-section
              a#profile-dropdown.btn.dropdown-toggle(data-toggle='dropdown', href='#')
                span#profilename(ng-cloak)
                  img(src='#{user.avatar}', width='24', height='24')
                  | &nbsp;#{user.name}
                span.caret
              ul.dropdown-menu
                li
                  a(href='#')
                    del Profile
                li.divider
                li
                  a(href='/logout/', target='_self') Sign Out
          else
            .btn-group.pull-right
              .navbar-right-section
                a(href='/auth/steam', target='_self')
                  img(src='/img/sits_small.png')
    #loading(ng-cloak, ng-show='loading')
      .alert
        | Loading...
    //- Main Content
    .container-fluid
      .row-fluid
        .span3
          //- listmatches
          .well.sidebar-nav(ng-controller='SideBarCtrl')
            ul.nav.nav-list
              li.nav-header Recent Matches
              li(ng-cloak, ng-repeat='match in matches | orderBy:"-_id"', ng-class='{active: isActive()}')
                a(href='/stats?id={{match._id}}')
                  | {{match.hostname}}: 
                  img.flag(ng-show="match.redCountry", ng-src="/img/flags/16/{{match.redCountry}}.png")
                  | {{match.redname}} vs 
                  img.flag(ng-show="match.bluCountry", ng-src="/img/flags/16/{{match.bluCountry}}.png")
                  | {{match.bluname}} 
                  span.label.label-success(ng-show='match.isLive') Live
        .span9(ng-view)
          //- content
      hr
      footer
        p &copy; 2012 Chris "techno" Kim &amp; Jordan "SizzlingCalamari" Cristiano
  else
    .ingame(ng-view)
    hr
    footer
      p &copy; 2012 Chris "techno" Kim &amp; Jordan "SizzlingCalamari" Cristiano
