extends layout

block body
  if (typeof(query.ingame) == 'undefined')
    nav.top-bar
      ul
        li.name
          h1
            a(href='/') SizzlingStats Beta
        li.toggle-topbar
          a(href='javascript:')
      section
        //- Left Nav Section
        ul.left
          li.divider
          li(class='home', ng-class='{active:path()=="/"}')
            a(href='/') Home
          li.divider
          li(class='about', ng-class='{active:path()=="/about"}')
            a(href='/about') About
          li.divider
          li(class='download', ng-class='{active:path()=="/download"}')
            a(href='/download') Download (coming soon)
          li.divider
        //- Right Nav Section
        ul.right
          li.search
            form.collapse
              input(type='search', typeahead='')
          li.divider.show-for-medium-and-up
          if (loggedIn)
            li.has-dropdown
              a(href='javascript:')
                img.top-bar-avatar(src='#{user.avatar}')
                span
                  | &nbsp;#{user.name}
                span.caret
              ul.dropdown
                //- li.divider
                //- li
                //-   a(href='javascript:')
                //-     del Profile
                li.divider
                li
                  a(href='/logout/', target='_self') Sign Out
          else
            li
              a.sits(href='/auth/steam', target='_self')
                img(src='/img/sits_small.png')
  else
    nav.top-bar.attached
      ul
        li.name
          h1
            a(href='javascript:') SizzlingStats.com
  #loading(ng-cloak, ng-show='loading')
    .alert-box.loading
      | Loading...
  //- Main Content
  .row
    if (typeof(query.ingame) == 'undefined')
      .three.columns
        //- listmatches
        section(ng-controller='SideBarCtrl')
          ul.tabs.vertical.sidebar-nav
            li.nav-header.center
              h5 Recent Matches
            li(ng-cloak, ng-repeat='match in matches | orderBy:"-_id"', ng-class="{active: isActive(), 'live-match': match.isLive}")
              a(href='/stats?id={{match._id}}')
                | {{match.hostname}} 
                //- span.label(ng-show='match.isLive') Live
                br
                img.flag.size-16(ng-show="match.redCountry", ng-src="/img/flags/16/{{match.redCountry}}.png")
                | {{match.redname}} vs 
                img.flag.size-16(ng-show="match.bluCountry", ng-src="/img/flags/16/{{match.bluCountry}}.png")
                | {{match.bluname}}
      .nine.columns(ng-view)
        //- content
    else
      .ingame(ng-view)
        //- content
    hr
    footer
      p &copy; 2013 Jordan "SizzlingCalamari" Cristiano &amp; Chris "dy/dx" Kim
  //- else
  //-   .ingame(ng-view)
  //-   hr
  //-   footer
  //-     p &copy; 2013 Jordan "SizzlingCalamari" Cristiano &amp; Chris "dy-dx" Kim
