!!!
html(lang="en", ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Sizzling Stats
    link(rel='stylesheet', href='/css/bootstrap.css')
    style(type='text/css')
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    link(rel='stylesheet', href='/css/bootstrap-responsive.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    block body