!!!
html(lang="en", ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Sizzling Stats
    link( rel='stylesheet', href='/css/all-'+(assetManager.cacheHashes.css || '0')+'.css' )
  body
    block body
    script( src='/socket.io/socket.io.js' )
    script( src='/js/all-'+(assetManager.cacheHashes.js || '0')+'.js' )