!!!
html(lang="en", ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Sizzling Stats
    //- link( rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css' )
    link( rel='stylesheet', href='/css/all-'+(assetManager.cacheHashes.css || '0')+'.css' )
  body.off-canvas(ng-controller='MainCtrl')
    block body
    - if (process.env.NODE_ENV === 'production')
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' )
      script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js' )
      script( src='/socket.io/socket.io.js' )
      script( src='/js/all-'+(assetManager.cacheHashes.js || '0')+'.js' )
    - else
      script( src='/js/lib/jquery/jquery-1.9.1.min.js' )
      script( src='/js/lib/angular/angular.js' )
      script( src='/socket.io/socket.io.js' )
      script( src='/js/lib/typeahead.js' )
      script( src='/js/lib/foundation/modernizr.foundation.js' )
      script( src='/js/lib/foundation/jquery.foundation.tooltips.js' )
      script( src='/js/lib/foundation/jquery.foundation.topbar.js' )
      script( src='/js/lib/foundation/app.js' )
      script( src='/js/app.js' )
      script( src='/js/services.js' )
      script( src='/js/controllers.js' )
      script( src='/js/controller-stats.js' )
      script( src='/js/controller-player.js' )
      //- script( src='/js/controller-profile.js' )
      script( src='/js/filters.js' )
      script( src='/js/directives.js' )
    //- FIXME
    //- Surely there is a better way to do this?????
    //- script
      app.service('me', function() {
        return {
          id: '#{user.numericid}'
        , name: '#{user.name}'
        };
      });
    script
      app.service('me', function() {return {id: '#{user.numericid}', name: '#{user.name}'}; });
