!!!
html(lang="en", ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title SizzlingStats
    link( rel='stylesheet'
        , href='/css/all-'+(assetManager.cacheHashes.css || '0')+'.css' )
  body.off-canvas(ng-controller='MainCtrl')
    block body
    - if (process.env.NODE_ENV === 'production')
      script( src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js' )
      script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js' )
      script( src='//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.min.js' )
    script( src='/socket.io/socket.io.js' )
    script( src='/js/all-'+(assetManager.cacheHashes.js || '0')+'.js' )
    //- FIXME
    //- script
    //-   app.service('me', function() {return {id: '#{user.numericid}', name: '#{user.name}'}; });
