/* sizzlingstats css stylesheet */

div.container-fluid {
  max-width: 1200px;
}

.redname {
  color: #D06553;
}
.bluname {
  color: #79B3D2;
}

td, th {
  text-align: center !important;
}
td:first-child, th:first-child {
  text-align: left !important;
}

#stats-overview {
  text-align: center;
}

#score-table {
  width: 0*;
  margin: 15px auto;
}

#score-table td, #score-table th {
  padding-left: 2px;
  padding-right: 2px;
  line-height: 18px;
}

#score-table td {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #DDD;
  line-height: 14px;
  padding-left: 2px;
  padding-right: 3px;
}

.team2 img {
  border: 3px solid #D06553;
}
.team3 img {
  border: 3px solid #79B3D2;
}

#stats-table img {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}