/* sizzlingstats css stylesheet */
[ng\:cloak],[ng-cloak],.ng-cloak{display:none !important;}

/* Fixes Foundation top-bar expand bug*/
.top-bar { min-height:45px; margin:0 0 30px 0; }

#loading {
  position: fixed;
  z-index: 9999;
  left: 30%;
  top: 32px;
  margin-left: -25px;
}
.loading {
  position: relative;
  display: inline;
  padding: 8px 14px;
}

/* Utility Selectors */
.center {
  text-align: center;
}
.align-left {
  text-align: left;
}
.no-marg {
  margin: 0 !important;
}
.no-marg-top {
  margin-top: 0;
}
.no-marg-bottom {
  margin-bottom: 0;
}

.sits {
  padding: 0 13px !important;
}
.sits img {
  margin-top: 10px;
}

/* Twitter typeahead.js suggestion styling */
.search form {
  height: 32px;
  /* If I don't do this then the form moves down 1px when the typeahead
     suggestions pop open. No idea why. */
  margin-bottom: 1px !important;
}
.twitter-typeahead {
  vertical-align: top;
  width: 100% !important;
}
.tt-hint {
  /*color: #999;*/
  color: #ccc;
}
.tt-dropdown-menu {
  width: 320px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-is-under-cursor {
  background-color: #0097cf;
}
.tt-is-under-cursor span {
  color: #fff;
}
.FUCK-CSS {
  margin: 0;
  padding: 3px 16px !important;
  color: #222 !important;
  height: 38px !important;
  line-height: 32px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.FUCK-CSS span {
  margin-left: 8px;
}

/*Foundation Dropdown Menu Hacks*/
.top-bar-avatar {
  float: left;
  margin: 6px 4px 0 -4px;
  /*-moz-border-radius: 3px;*/
  /*-webkit-border-radius: 3px;*/
  border-radius: 3px;
}
.dropdown {
  width: 100%;
  padding: 0 !important;
}
.dropdown a {
  line-height: 42px !important;
  height: 44px !important;
  padding: 0 15px !important;
  font-weight: bold !important;
}
.dropdown .divider {
  height: 2px !important;
  margin-top: -1px;
}
.dropdown li {
  padding: 0 !important;
}
.dropdown li:hover {
  color: #d9d9d9 !important;
  background: black !important;
}

.sidebar-nav a {
  padding: 8px 6px 8px 10px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-nav li:not(.active) a:hover {
  background: #ebebeb !important;
}

/* Animation for live matches in sidebar */

.live-match:not(.active) {
  border-left: 3px solid #2ba6cb !important;
  -webkit-animation: livePulse 2s;
  -moz-animation: livePulse 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
@-webkit-keyframes livePulse {
  0% {border-left-color: #2ba6cb;}
  50% {border-left-color: #a5cfdd;}
  100% {border-left-color: #2ba6cb;}
}
@-moz-keyframes livePulse {
  0% {border-left-color: #2ba6cb;}
  50% {border-left-color: #a5cfdd;}
  100% {border-left-color: #2ba6cb;}
}

.nav-header {
  border-left: none !important;
  /*padding: 5px 15px 1px;*/
}

.redname {
  color: #D06553;
}
.bluname {
  color: #79B3D2;
}

table {
  border-spacing: 0;
}
td, th {
  text-align: center !important;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
}
th {
  font-size: 14px;
}
thead th {
  border-top: none;
}
thead th:first-child {
  /*-webkit-border-radius: 3px 0 0 0;*/
  /*-moz-border-radius: 3px 0 0 0;*/
  border-radius: 3px 0 0 0;
}
thead th:last-child {
  /*-webkit-border-radius: 0 3px 0 0;*/
  /*-moz-border-radius: 0 3px 0 0;*/
  border-radius: 0 3px 0 0;
}
tr:last-child td:last-child {
  /*-webkit-border-radius: 0 0 3px 0;*/
  /*-moz-border-radius: 0 0 3px 0;*/
  border-radius: 0 0 3px 0;
}
tr:last-child td:first-child {
  /*-webkit-border-radius: 0 0 0 3px;*/
  /*-moz-border-radius: 0 0 0 3px;*/
  border-radius: 0 0 0 3px;
}
td:first-child, th:first-child {
  border-left: none;
  text-align: left !important;
}

.flag {
  margin-right: 0.1em;
  vertical-align: text-bottom;
}
.size-16 {
  width: 16px;
  height: 16px;
}
.size-32 {
  vertical-align: bottom;
  width: 32px;
  height: 32px;
}

.stats {
  font-size: 13px !important;
}
.stats-details {
  margin-top: 5px;
  display: inline-block;
  text-align: left;
  line-height: 1.2;
}

.score-table {
  margin: 15px auto 15px;
}
.score-table-round-header {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  color: #0088cc;
}
.score-table-round-header:hover {
  color: #005580;
  background-color: #f5f5f5;
}
.deselected-round {
  color: #999999;
  background-color: #f5f5f5;
}
.score-table td, .score-table th {
  padding: 1px 3px;
  line-height: 18px;
}
.score-table td {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #DDD;
  line-height: 14px;
}
.overall-stats {
  display: inline-block;
  white-space: nowrap;
}
.overall-stats table {
  margin-right: 0 !important;
}

.team2 {
  color: #D06553;
}
.team2-avatar {
  border: 3px solid #D06553;
}
.team3 {
  color: #6DA1BD;
}
.team3-avatar {
  border: 3px solid #79B3D2;
}
.team2-avatar, .team3-avatar {
  float: left;
  width: 20px;
  height: 20px;
  margin: 0px 4px 0px 0;
  /*-moz-border-radius: 4px;*/
  /*-webkit-border-radius: 4px;*/
  border-radius: 4px;
}
.player-name a {
  color: #222;
}
.player-name a:hover {
  color: #222;
  text-decoration: underline;
}
.class-icon {
  margin-bottom: -2px;
  width: 20px;
  height: 20px;
}
.stats-table {
  width: auto;
  display: inline-table;
  vertical-align: top;
  margin-right: 20px;
}
.stats-table th {
  /* black double arrow */
  /*background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);*/
  /* white double arrow */
  /* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
  /* image */
  /* background-image: url(black-bg.gif); */
  background-repeat: no-repeat;
  background-position: center right;
  /*padding: 4px 20px 4px 4px;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 3px 5px 4px;
}
.stats-table td {
  padding: 0px 3px;
}
.stats-table td:first-child {
  line-height: 1.5;
}


.chat-log ul {
  margin: 12px 0 0;
  list-style: none;
  font-size: 13px;
}
.chat-time {
  font-size: 12px;
}
.team-message:after {
  content: " (team)";
  color: #333;
}

footer {
  font-size: 13px;
}

.sort-true {
  color: white;
  /*background-color: #9fbfdf;*/
  /*background-color: #0088cc;*/
  background-color: #2ba6cb;
  /* black asc arrow */
  /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
  /* white asc arrow */
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  /* image */
  /* background-image: url(black-asc.gif); */
  padding-right: 18px !important;
}
.sort-false {
  color: white;
  /*background-color: #8cb3d9;*/
  /*background-color: #0088cc;*/
  background-color: #2ba6cb;
  /* black desc arrow */
  /*background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
  /* white desc arrow */
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  /* image */
  /* background-image: url(black-desc.gif); */
  padding-right: 18px !important;
}

/* Hacks for in-game browser */
.ingame {
  margin: -10px auto 0;
  text-align: center;
}
.ingame .class-stats, .ingame .chat-log {
  text-align: left;
}
.ingame .stats {
  display: inline-block;
}
