/* sizzlingstats css stylesheet */
[ng-cloak],.ng-cloak{display:none}

div.container-fluid {
  max-width: 1200px;
}
#loading {
  position: fixed;
  z-index: 9999;
  width: 100%;
  max-width: 1200px;
}
.alert {
  position: relative;
  display: inline;
  padding: 8px 14px;
  left: 29%;
  margin-left: -25px;
}
.center {
  text-align: center;
}
.navbar-right-section {
  margin-top: 3px !important;
}
.nav-list, #stats {
  font-size: 13px;
}
.nav-list a {
  padding: 2px 8px !important;
}
.sidebar-nav {
  padding: 0;
}
.nav-header {
  padding: 5px 15px 1px;
}

.redname {
  color: #D06553;
}
.bluname {
  color: #79B3D2;
}

td, th {
  text-align: center !important;
}
td:first-child, th:first-child {
  text-align: left !important;
}

.flag {
  vertical-align: text-top;
  margin-right: 0.1em;
}

.big-score {
  margin-bottom: -6px;
}
#stats-description {
  float: left;
  text-align: left;
  margin-top: -15px;
}

#score-table {
  width: 0*;
  margin: 15px auto 15px;
}
.score-table-round-header {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
}
#score-table td, #score-table th {
  padding: 1px 3px;
  line-height: 18px;
}
#score-table td {
  border-top: 1px;
  border-top-style: solid;
  border-top-color: #DDD;
  line-height: 14px;
}
.deselected-round {
  color: gray;
  background-color: darkgray;
}
.overall-stats {
  white-space: nowrap;
}
.overall-stats-nav {
  display: inline-block;
}
.overall-stats-nav a {
  min-width: 0 !important;
}
.overall-stats-table {
  margin-right: 0 !important;
}
.team2 {
  color: #D06553;
}
.team2-avatar {
  border: 3px solid #D06553;
}
.team3 {
  color: #6DA1BD;
}
.team3-avatar {
  border: 3px solid #79B3D2;
}
.team2-avatar, .team3-avatar {
  float: left;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.overall-stats-table td:nth-child(2) {
  padding: 1px;
}
.class-icon {
  width: 20px;
  height: 20px;
}
.stats-table {
  width: auto;
  display: inline-table;
  vertical-align: top;
  margin-right: 20px;
}
.stats-table th {
  /* black double arrow */
  /*background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);*/
  /* white double arrow */
  /* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
  /* image */
  /* background-image: url(black-bg.gif); */
  background-repeat: no-repeat;
  background-position: center right;
  /*padding: 4px 20px 4px 4px;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  padding: 3px 5px 4px;
}
.stats-table td {
  padding: 0px 4px;
}

#chat-log {
  list-style: none;
  font-size: 13px;
}
.chat-time {
  font-size: 12px;
}
.team-message:after {
  content: " (team)";
  color: #333;
}

footer {
  font-size: 13px;
}

.sort-true {
  color: white;
  /*background-color: #9fbfdf;*/
  background-color: #0088cc;
  /* black asc arrow */
  /* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
  /* white asc arrow */
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
  /* image */
  /* background-image: url(black-asc.gif); */
  padding-right: 18px !important;
}
.sort-false {
  color: white;
  /*background-color: #8cb3d9;*/
  background-color: #0088cc;
  /* black desc arrow */
  /*background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
  /* white desc arrow */
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
  /* image */
  /* background-image: url(black-desc.gif); */
  padding-right: 18px !important;
}

/* Bootstrap hacks for in-game browser */
.ingame {
  margin: -60px auto 0;
  width: 900px;
}
@media (max-width: 979px) {
  .ingame {
    margin-top: 0px;
  }
}
@media (max-width: 767px) {
  .ingame {
    margin: 0 -20px;
  }
}
