.stats
  .text-center
    h3.no-marg
      img.flag.size-32(ng-show="stats.redCountry"
                     , ng-src="/img/flags/32/{{stats.redCountry}}.png")
      span.redname {{stats.redname}}
      |  {{scoreComparison}}&#32;
      img.flag.size-32(ng-show="stats.bluCountry"
                     , ng-src="/img/flags/32/{{stats.bluCountry}}.png")
      span.bluname {{stats.bluname}}
      |  {{redScore}} - {{bluScore}}
    .stats-details
      .stats-description
        | {{stats.created | date:'M/d/yy h:mma' | lowercase}} //
        | {{secondsToHMS(playableTime)}} // {{stats.map}}&#32;
        span.label.live-label(ng-show='stats.isLive') Live
      .stats-hostname Server Name: {{stats.hostname}}
      //- .mapname Map: {{stats.map}}
      //- .date Date: {{stats.created | date:'medium'}}
      //- .match-duration(ng-show='stats.matchDuration') Match Duration: {{secondsToHMS(stats.matchDuration)}}
      //- .playable-time Playable Time: {{secondsToHMS(playableTime)}}
      .stats-owner Server Owner: {{(stats.owner.name) && " " || "anonymous "}}
        //- a(ng-href='{{(stats.owner.numericid) && "/player/"+stats.owner.numericid || "javascript:"}}') {{stats.owner.name || '&#60;claim this server&#62;'}}
        a(ng-href='{{(stats.owner.numericid) && "/player/"+stats.owner.numericid||"javascript:"}}')
          | {{stats.owner.name}}
      a.stats-stv-url(ng-show="stats.stvUrl", ng-href="{{stats.stvUrl}}") Download STV Demo
      .stats-edit-button(ng-show='stats.iHaveOwnership')
        a.button.tiny(href='/stats/{{stats._id}}/edit') Edit these stats
    table.score-table
      thead
        tr
          th
          th.score-table-round-header(
            ng-repeat='n in stats.redscore track by $index'
          , ng-click='clickRoundHeader($index)'
          , ng-class='{"deselected-round":selectedRounds.indexOf($index)==-1}')
            acronym R{{$index + 1}}
          th.has-tip.tip-top(data-tooltip='', title='Total Score'): abbr T
          th.has-tip.tip-top(data-tooltip='', title='Total Damage'): abbr DMG
          th.has-tip.tip-top(data-tooltip='', title='Total Frags'): abbr F
          th.has-tip.tip-top(data-tooltip='', title='Midfights Won'): abbr MF
      tbody
        tr
          td.red {{stats.redname}}
          td(ng-repeat='s in redRoundScores track by $index') {{s}}
        tr
          td.blu {{stats.bluname}}
          td(ng-repeat='s in bluRoundScores track by $index') {{s}}
  .overall-stats
    stats-table(data='overallStatsTableData', split-teams='')
  .class-stats
    stats-table(data='medicStatsTableData'
              , filter='classFilter(6)'
              , ng-if='hasBeenPlayed(6)')
    stats-table(data='sniperStatsTableData'
              , filter='classFilter(7)'
              , ng-if='hasBeenPlayed(7)')
    stats-table(data='spyStatsTableData'
              , filter='classFilter(8)'
              , ng-if='hasBeenPlayed(8)')
    stats-table(data='engineerStatsTableData'
              , filter='classFilter(5)'
              , ng-if='hasBeenPlayed(5)')
  .chat-log
    ul
      li(ng-repeat='chat in stats.chats | filter:bindFilter')
        span.chat-time {{secondsToHMS(chat.time)}}&nbsp;
        span.chat-name(ng-class='{true:"team-message"}[chat.isTeam]'
                     , class='team{{stats.players[chat.steamid].team}}')
          b {{stats.players[chat.steamid].name || "spectator"}}
        span.chat-message : {{chat.message}}
    dl.sub-nav.no-marg
      dd(ng-class='{active:filterBinds}')
        a(href="javascript:", ng-click="filterBinds=true") No Spam
      dd(ng-class='{active:!filterBinds}')
        a(href="javascript:", ng-click="filterBinds=false") All
